<div class="container">
    <div class="text">Dev Platform</div>
    <div class="sub-text">One place where you can find all the coding websites you need. Click on one of the cards to navigate to that website.</div>
    <div class="cards">
        <ng-container *ngFor="let item of cards">
            <a [href]="item.href" [title]="item.title" class="cards-item" target="_blank"><img class="icon" [src]="'assets/' + item.imgPath">
            </a>
        </ng-container>
    </div>
</div>

<div></div>